target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
*.iml
*.hprof
/.vagrant/
/vagrant/scripts/nohup.out
/m4_disk0.vdi
