<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>DPA control</display-name>

    <context-param>
        <description>Deploy status</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <listener>
        <listener-class>
            dk.statsbiblioteket.sbutil.webservices.configuration.ConfigContextListener
        </listener-class>
    </listener>


    <servlet>
        <servlet-name>DPA Servlet</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <description>Vaadin UI to display</description>
            <param-name>UI</param-name>
            <param-value>org.statsbiblioteket.digital_pligtaflevering_aviser.ui.NewspaperUI</param-value>
        </init-param>
                <init-param>
            <description>DPA control</description>
            <param-name>widgetset</param-name>
            <param-value>org.statsbiblioteket.digital_pligtaflevering_aviser.ui.AppWidgetSet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DPA Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>