<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>DPA dashboard</display-name>

    <!-- https://wiki.jasig.org/display/casc/configuring+the+jasig+cas+client+for+java+in+the+web.xml -->

    <!--
    <env-entry>
        <env-entry-name>cas/AuthenticationFilter/serverName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:8080</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>cas/AuthenticationFilter/casServerLoginUrl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value></env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>cas/Cas20ProxyReceivingTicketValidationFilter/casServerUrlPrefix</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>https://intern-samldev.statsbiblioteket.dk/module.php/sbcasserver/cas.php/</env-entry-value>
    </env-entry>
-->
    
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>
            org.jasig.cas.client.session.SingleSignOutFilter
        </filter-class>
    </filter>

    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://intern-samldev.statsbiblioteket.dk/module.php/sbcasserver/cas.php/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://intern-samldev.statsbiblioteket.dk/module.php/sbcasserver/cas.php/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://www.acme-client.com</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
        <init-param>
            <param-name>edu.yale.its.tp.cas.client.filter.wrapRequest</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Jetty: java 8 in jsp, please - doesn't work though so no lambdas for now -->
    <servlet id="jsp">
        <!-- This is a dummy servlet snippet stolen from the net to configure the embedded
        JSP compiler in Jetty, so warnings are disabled -->
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>jsp</servlet-name>
        <!--suppress WebProperties -->
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>1.8</param-value>
        </init-param>
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>1.8</param-value>
        </init-param>

    </servlet>
</web-app>
