<configuration>
    <contextName>dpa-manualcontrol</contextName>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${project.build.directory}/${CONTEXT_NAME}.log</File>

        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${project.build.directory}/${CONTEXT_NAME}.log.%i</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="R" />
        <appender-ref ref="C" />
    </root>
</configuration>